{% extends "emagineComBundle::layout.html.twig" %}

{% block content_bundle %}
    <div class="page-header">
        <h1>WikiPage list</h1>
    {% if is_granted('ROLE_SUIVEUR') %}
        <a href="{{ path('wikipage_new') }}" class="btn btn-primary">
            Créer une nouvelle page
        </a>
    {% endif %}
    </div>

<div class="row">
    <div class="col-md-3 col-sm-12" >
        <h2>Categories</h2>
        
            {% for category in categories %}
                <div class="btn-toolbar" role="toolbar" >
                    <a href="{{ path('wikipage_deleteCategory',{ 'id' : category.id}) }}" class="btn glyphicon glyphicon-remove"></a>
                    <a href="{{ path('wikipage',{ 'category' : category.titre}) }}" class="btn btn-default" style="min-width:70%">{{ category.titre }}</a>
                </div>
            {% endfor %}

        <hr>
        {{ form_start(form)}}
        {{ form_widget(form)}}
        {{ form_end(form)}}
    </div>

    <div class="col-md-9 col-sm-12" >
    <table class="table table-hover table-condensed">
        <thead>
            <tr>
                <th>#</th>
                <th>Titre</th>
                <th>Categorie</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr {% if entity.protected == true %} class="info" {% endif %}>
                <th scope="row">{{entity.id}}</th>
                <td>{{ entity.titre }}</td>
                <td>{% if entity.category.titre is defined %}
                        {{ entity.category.titre }}
                    {% endif %}</td>
                <td>
                    <div class="btn-group" role="group" >
                        <a href="{{ path('wikipage_show', { 'slug': entity.slug}) }}" class="btn btn-success">Afficher</a>
                        {% if is_granted('ROLE_SUIVEUR') %}
                            <a href="{{ path('wikipage_edit', { 'id': entity.id }) }}" class="btn btn-info">editer</a> 
                        {% endif %}
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
</div>  
{% endblock %}
