{% extends "emagineComBundle::layout.html.twig" %}

{% block content_bundle %}
    <div class="page-header">
        <h1>{{entity.titre|striptags|title }}</h1>
        <div class="btn-group" role="group">
            <a href="{{ path('wikipage') }}" class="btn btn-default">
                Retourner à la liste des Pages
            </a>
            {% if is_granted('ROLE_SUIVEUR') %}
                <a href="{{ path('wikipage_edit', { 'id': entity.id }) }}" class="btn btn-info">
                    Editer
                </a>
            {% endif %}
        </div>
    </div>
    

    <div class="bs-callout bs-callout-info">
        <p>{{ contenu|raw }}</p>
    </div>
 
    {% if is_granted('ROLE_SUIVEUR') %}
        {{ form(delete_form) }}
    {% endif %}
{% endblock %}
